<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Motorcycles</title>
  </head>
  <body>
    <div class="my_nav">
      <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Welcome</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">Moto</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <div class="my_gap">
      </div>
    </div>

    {% block content %}   {% endblock %}
  </body>
</html>
